[2020-06-08 14:46] vlerenc opened #1 "d"
## Which cluster is affected?

`Cluster Details Dashboard Link`:   https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/d060239-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2020-06-08 14:48] vlerenc opened #2 "tr"
## Which cluster is affected?

`Cluster Details Dashboard Link`:   https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/d060239-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2020-06-08 14:56] vlerenc opened #3 "gs"
## Which cluster is affected?

`Cluster Details Dashboard Link`:   https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/d060239-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2020-06-08 14:59] vlerenc opened #4 "dfsgdf"
/help

[2020-06-09 04:04] vlerenc opened #5 "re"
## Which cluster is affected?

`Cluster Details Dashboard Link`:   https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/d060239-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2020-06-09 04:09] vlerenc commented on #5
/os                  garden-linux

[2020-06-09 04:10] vlerenc commented on #5
/os garden-linux

[2020-06-09 04:13] vlerenc commented on #5
/os garden-linux

[2020-06-09 04:16] vlerenc opened #6 "rtyy"
## Which cluster is affected?

`Cluster Details Dashboard Link`:   https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/d060239-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2020-06-09 05:13] #1 closed

[2020-06-09 05:13] #2 closed

[2020-06-09 05:13] #3 closed

[2020-06-09 05:13] #4 closed

[2020-06-09 05:13] #5 closed

[2020-06-09 05:13] #6 closed

[2020-06-09 05:38] vlerenc opened #7 "dsf"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2020-06-09 05:41] #7 closed

[2020-06-09 06:11] vlerenc opened #8 "rtsd"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:

[2020-06-09 06:15] #8 closed

[2020-06-09 09:26] vlerenc opened #9 "wretwert"
**What would you like to be added**:

**Why is this needed**:

[2020-06-09 09:27] vlerenc opened #10 "fgfgfd"
/close

[2020-06-09 09:28] #10 closed

[2020-06-09 09:33] vlerenc opened #11 "sdgsdf"
/close

[2020-06-09 09:34] #11 closed

[2020-06-09 09:37] vlerenc opened #12 "gsdfg"
/close

[2020-06-09 09:37] #12 closed

[2020-06-09 09:38] vlerenc opened #13 "ertre"
/close

[2020-06-09 09:39] #13 closed

[2020-06-09 09:39] vlerenc opened #14 "tree"
**What would you like to be added**:

**Why is this needed**:

[2020-06-09 09:41] vlerenc opened #15 "ggg"
**What would you like to be added**:

**Why is this needed**:

[2020-06-09 09:44] vlerenc opened #16 "tertre"
**What would you like to be added**:

**Why is this needed**:

[2020-06-09 09:45] vlerenc opened #17 "sdfdfd"
**What would you like to be added**:

**Why is this needed**:

[2020-06-09 09:45] #9 closed

[2020-06-09 09:45] #14 closed

[2020-06-09 09:45] #15 closed

[2020-06-09 09:45] #16 closed

[2020-06-10 04:39] vlerenc opened #18 "dfdf"
**What would you like to be added**:

**Why is this needed**:

[2020-06-10 04:39] vlerenc opened #19 "dsfdf"
**Shoot:** [garden-kyma-stage/c-861fb8c](https://dashboard.garden.live.k8s.ondemand.com/namespace/garden-kyma-stage/shoots/c-861fb8c)

[2020-06-10 04:39] vlerenc opened #20 "dfsf"
**Shoot:** [garden-kyma-stage/c-861fb8c](https://dashboard.garden.live.k8s.ondemand.com/namespace/garden-kyma-stage/shoots/c-861fb8c)

[2020-06-10 04:46] vlerenc opened #21 "sdgfds"
**Shoot:** [garden-kyma-stage/c-861fb8c](https://dashboard.garden.live.k8s.ondemand.com/namespace/garden-kyma-stage/shoots/c-861fb8c)

[2020-06-10 04:47] vlerenc opened #22 "dfgf"
`Cluster Details Dashboard Link`: https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-abap/shoots/poc/

[2020-06-10 04:47] vlerenc commented on #22
/author-action

[2020-06-10 04:48] vlerenc commented on #22
/unassign

[2020-06-10 04:52] vlerenc commented on #22
/author-action

[2020-06-10 04:54] vlerenc commented on #22
/author-action

[2020-06-10 04:55] vlerenc commented on #22
/unassign

[2020-06-10 04:58] vlerenc commented on #22
/author-action

[2020-06-10 05:15] #18 closed

[2020-06-10 05:15] #19 closed

[2020-06-10 05:15] #20 closed

[2020-06-10 05:15] #21 closed

[2020-06-10 05:15] #22 closed

[2020-06-16 07:54] vlerenc opened #23 "dfgfOnboarding Request"
**What would you like to be added**:

**Why is this needed**:

[2020-06-16 08:25] #23 closed

[2020-06-16 15:40] vlerenc opened #24 "sdfdfd"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2020-06-16 15:43] vlerenc commented on #24
/close

[2020-06-16 15:43] #24 closed

[2020-06-16 15:43] vlerenc opened #25 "e"
## Which cluster is affected?

`Cluster Details Dashboard Link`: https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/ovh3/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for fa

[2020-06-16 15:44] vlerenc commented on #25
/close

[2020-06-16 15:44] #25 closed

[2020-06-16 15:44] vlerenc opened #26 "erty"
## Which cluster is affected?

`Cluster Details Dashboard Link`: https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/ovh3/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for fa

[2020-06-16 15:55] #26 closed

[2020-06-16 16:09] vlerenc opened #27 "tere"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-16 16:10] #27 closed

[2020-06-17 16:06] vlerenc opened #28 "jj"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-17 16:10] #28 closed

[2020-06-17 16:10] vlerenc opened #29 "jj"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-17 16:15] vlerenc commented on #29
/duplicate https://github.tools.sap/kubernetes/gardener-robot/issues/1

[2020-06-17 16:19] #29 closed

[2020-06-18 13:44] vlerenc opened #30 "mhjbkj"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-18 13:45] #30 closed

[2020-06-18 17:07] jfortin-sap opened #31 "Cluster down"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-06-19 18:36] vlerenc opened #32 "Cluster Down Test Issue"
## Which cluster is affected?

https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud/

[2020-06-20 05:21] vlerenc commented on #32
/diag

[2020-06-20 05:22] vlerenc commented on #32
/diag sdfd

[2020-06-20 05:22] vlerenc commented on #32
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud/

[2020-06-20 05:23] vlerenc commented on #32
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud

[2020-06-20 05:28] vlerenc commented on #32
/diag

[2020-06-20 05:30] vlerenc commented on #32
/diag

[2020-06-20 05:32] vlerenc commented on #32
/diag

[2020-06-20 05:33] #32 closed

[2020-06-20 05:34] vlerenc opened #33 "dgd"
/priority critical

[2020-06-20 05:45] #33 closed

[2020-06-20 05:46] vlerenc opened #34 "cgfbdbdfbc"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud

[2020-06-20 05:47] vlerenc commented on #34
/author-action

[2020-06-22 04:05] #34 closed

[2020-06-22 04:14] vlerenc opened #35 "General Issue"
bla https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/alicloud/ bla

/component/gardener
/kind/bug
/priority/critical

[2020-06-22 04:17] vlerenc commented on #35
/priority normal

[2020-06-22 04:17] vlerenc commented on #35
/priority blocker

[2020-06-22 04:17] vlerenc commented on #35
/priority normal

[2020-06-22 04:18] vlerenc commented on #35
/priority critical

[2020-06-22 04:19] vlerenc commented on #35
/priority blocker

[2020-06-22 04:21] vlerenc commented on #35
/priority blocker

[2020-06-22 04:45] #35 closed

[2020-06-22 04:46] vlerenc opened #36 "Cluster Issue"
bla https://dashboard.garden.stagingg.k8s.ondemand.com/namespace/garden/shoots/alicloud/ bla

/component/gardener
/kind/bug
/priority/critical

[2020-06-22 04:47] vlerenc commented on #36
/blocker

[2020-06-22 04:55] vlerenc commented on #36
/diag

[2020-06-22 04:57] vlerenc commented on #36
/diag

[2020-06-22 04:57] #36 closed

[2020-06-22 04:58] vlerenc commented on #36
/diag

[2020-06-22 05:00] vlerenc commented on #36
/diag

[2020-06-22 06:55] vlerenc opened #37 "xdfvc"
/priority/blocker

[2020-06-22 06:56] vlerenc commented on #37
/cancel critical

[2020-06-22 06:57] vlerenc commented on #37
/priority critical

[2020-06-22 06:58] vlerenc commented on #37
/cancel blocker

[2020-06-22 07:16] #37 closed

[2020-06-22 07:35] vlerenc opened #38 "sfdf"
/priority blocker

[2020-06-22 07:36] vlerenc commented on #38
/blocker

[2020-06-22 07:37] vlerenc commented on #38
/cancel blocker

[2020-06-22 07:38] vlerenc commented on #38
/critical

[2020-06-22 07:38] vlerenc commented on #38
/cancel critical

[2020-06-22 07:39] vlerenc commented on #38
/cancel blocker

[2020-06-22 07:48] vlerenc commented on #38
/cancel blocker

[2020-06-22 07:48] vlerenc commented on #38
/critical

[2020-06-22 07:48] vlerenc commented on #38
/cancel critical

[2020-06-22 07:48] vlerenc commented on #38
/normal

[2020-06-22 07:49] vlerenc commented on #38
/blocker

[2020-06-22 07:49] vlerenc commented on #38
/critical

[2020-06-22 07:50] vlerenc commented on #38
/blocker

[2020-06-22 07:50] vlerenc commented on #38
/cancel blocker

[2020-06-22 07:53] vlerenc commented on #38
/blocker

[2020-06-22 07:53] vlerenc commented on #38
/cancel

[2020-06-22 07:54] vlerenc commented on #38
/blocker

[2020-06-22 07:56] vlerenc commented on #38
/cancel

[2020-06-22 07:56] vlerenc commented on #38
/add

[2020-06-22 07:57] vlerenc commented on #38
/blocker

[2020-06-22 07:57] vlerenc commented on #38
/critical

[2020-06-22 07:57] vlerenc commented on #38
/blocker

[2020-06-22 07:58] #38 closed

[2020-06-22 07:59] vlerenc opened #39 "Broken Cluster"
Broken

[2020-06-22 08:46] vlerenc commented on #39
/diag

[2020-06-22 08:50] vlerenc commented on #39
/diag

[2020-06-22 08:55] vlerenc commented on #39
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden/shoots/alicloud/

[2020-06-22 09:00] vlerenc commented on #39
/diag

[2020-06-22 09:04] vlerenc commented on #39
/diag

[2020-06-22 09:06] vlerenc commented on #39
/diag

[2020-06-22 09:07] vlerenc commented on #39
/diag

[2020-06-22 09:10] vlerenc commented on #39
/diag

[2020-06-22 09:11] vlerenc commented on #39
/diag

[2020-06-22 09:12] vlerenc commented on #39
/diag

[2020-06-22 09:24] vlerenc commented on #39
/diag

[2020-06-22 09:28] vlerenc commented on #39
/diag

[2020-06-22 09:30] vlerenc commented on #39
/diag

[2020-06-22 09:31] vlerenc commented on #39
/diag

[2020-06-22 09:33] vlerenc commented on #39
/diag

[2020-06-22 09:34] vlerenc commented on #39
/diag

[2020-06-22 09:34] vlerenc commented on #39
/diag

[2020-06-22 09:35] vlerenc commented on #39
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/bnerd/

[2020-06-22 09:38] vlerenc commented on #39
/diag

[2020-06-22 09:40] vlerenc commented on #39
/diag

[2020-06-22 09:40] vlerenc commented on #39
/log

[2020-06-22 09:40] vlerenc commented on #39
/diag

[2020-06-22 09:42] vlerenc commented on #39
/diag

[2020-06-22 09:42] vlerenc commented on #39
/diag

[2020-06-22 09:43] vlerenc commented on #39
/diag

[2020-06-22 09:45] vlerenc commented on #39
/diag

[2020-06-22 09:46] vlerenc commented on #39
/diag

[2020-06-22 09:47] vlerenc commented on #39
/diag

[2020-06-22 09:50] vlerenc commented on #39
/diag

[2020-06-22 09:57] vlerenc commented on #39
/diag

[2020-06-22 10:03] vlerenc commented on #39
/diag

[2020-06-22 10:06] vlerenc commented on #39
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/ali-job/

[2020-06-22 10:16] vlerenc commented on #39
/diag

[2020-06-22 10:18] vlerenc commented on #39
/author-action

[2020-06-22 10:19] vlerenc commented on #39
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden-core/shoots/ali-job/

[2020-06-22 10:20] vlerenc commented on #39
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden-core/shoots/ali-job/

[2020-06-22 10:25] #39 closed

[2020-06-22 11:14] vlerenc commented on #17
/close

[2020-06-22 11:19] #17 closed

[2020-06-23 14:53] #31 closed

[2020-06-24 03:53] vlerenc opened #40 "A"
## Which cluster is affected?

https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/aws/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               au

[2020-06-24 03:58] #40 closed

[2020-06-24 03:59] vlerenc opened #41 "Some"

[2020-06-24 04:03] #41 closed

[2020-06-24 04:03] vlerenc opened #42 "dfs"
https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/vlerenc

[2020-06-24 04:05] #42 closed

[2020-06-24 04:06] vlerenc opened #43 "fdg"
https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/vlerenc

[2020-06-24 04:07] vlerenc commented on #43
/author-action

[2020-06-24 04:07] vlerenc commented on #43
/diag

[2020-06-24 04:16] vlerenc commented on #43
/diag

[2020-06-24 04:16] vlerenc commented on #43
/author-action

[2020-06-24 04:17] vlerenc commented on #43
/diag

[2020-06-24 04:17] vlerenc commented on #43
/author-action

[2020-06-24 04:18] vlerenc commented on #43
/diag

[2020-06-24 04:28] vlerenc opened #44 "wefe"

[2020-06-24 04:34] vlerenc opened #45 "fdgsdf"

[2020-06-24 04:35] vlerenc opened #46 "ghfg"

[2020-06-24 04:38] vlerenc opened #47 "dsfgd"

[2020-06-24 04:49] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 04:50] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 05:06] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 05:07] vlerenc commented on #47
/diag /diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:08] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:10] vlerenc opened #48 "sdfd"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:14] vlerenc opened #49 "sfg"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:16] vlerenc opened #50 "sfdf"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:19] vlerenc opened #51 "sgdfd"

[2020-06-24 05:21] vlerenc commented on #51
/diag

[2020-06-24 05:22] vlerenc opened #52 "fgfgd"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 05:23] #43 closed

[2020-06-24 05:23] #44 closed

[2020-06-24 05:23] #45 closed

[2020-06-24 05:23] #46 closed

[2020-06-24 05:23] #47 closed

[2020-06-24 05:23] #48 closed

[2020-06-24 05:23] #49 closed

[2020-06-24 05:23] #50 closed

[2020-06-24 05:23] #51 closed

[2020-06-24 05:23] #52 closed

[2020-06-24 11:13] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 11:40] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 11:41] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 11:41] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 11:47] vlerenc commented on #47
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 11:58] vlerenc opened #53 "kk"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 11:58] vlerenc commented on #53
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 15:33] vlerenc opened #54 "shgfjsdyfgdksjygfd"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 15:34] vlerenc commented on #54
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 15:35] vlerenc commented on #54
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:36] vlerenc commented on #54
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:36] vlerenc commented on #54
/diag https://dashboard.test.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:37] vlerenc commented on #54
/diag https://dashboard.test.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:44] vlerenc commented on #54
/diag https://dashboard.test.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:46] vlerenc commented on #54
/diag https://dashboard.test.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:49] vlerenc commented on #54
/diag https://dashboard.test.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:50] vlerenc commented on #54
/diag https://dashboard.test2.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:51] vlerenc commented on #54
/diag https://dashboardd.test2.gardener.cloud.sap/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:51] vlerenc commented on #54
/diag https://dashboard.test2.gardener.cloud.sap/amespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 15:52] vlerenc commented on #54
/diag https://dashboard.test2.gardener.cloud.sap/amespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 16:03] vlerenc opened #55 "issue"
https://dashboard.test.gardener.cloud.sap/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 16:10] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 16:10] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 16:11] vlerenc commented on #55
/remove blocker

[2020-06-24 16:17] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-24 16:24] vlerenc commented on #55
/diag httpppp

[2020-06-24 16:24] vlerenc commented on #55
/diag https://dashboard.garden.ddev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-24 16:28] #53 closed

[2020-06-24 16:28] #54 closed

[2020-06-24 16:28] #55 closed

[2020-06-25 15:10] vlerenc commented on #55
/diag

[2020-06-25 15:11] vlerenc commented on #55
/diag

[2020-06-25 15:23] vlerenc commented on #55
/diag

[2020-06-25 15:35] vlerenc commented on #55
/diag

[2020-06-25 15:37] vlerenc commented on #55
/diag

[2020-06-26 09:38] vlerenc commented on #55
/diag

[2020-06-26 09:39] vlerenc commented on #55
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerencc/shoots/vlerenc/
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/vlerencc/
/diag https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/vlerenc/

[2020-06-26 09:42] vlerenc commented on #55
/diag
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-ash-garden/shoots/ash-oncall/

[2020-06-30 03:53] vlerenc commented on #55
/help
/diag

[2020-06-30 09:46] vlerenc commented on #55
<details><summary>Control Plane</summary>

| *Name* | *Status* | *Age* |
| :- | :- | :- | :- |
| `aws-lb-readvertiser-77c4b78d9-p75px`<br/><sub>`10.243.131.5`</sub> | Running<br/>:green_heart:1/1 Ready | 1 hour, 12 mins<br/><sub>:green_heart: 0 Restarts</sub> |
| `cert-controller-manager-55cb7cccb7-bmz9l`<br/><sub>`10.243.132.6`</sub> | Running<br/>:green_heart:1/1 Ready | 1 hour, 12 mins<br/><sub

[2020-06-30 09:50] vlerenc commented on #55
**Worker Groups:**

| *Name* | *OS* | *Machine* | *Zones* |
| :- | :- | :- | :- |
| `worker-cpu`<br/><sub>`2:5`&nbsp;`-0`&nbsp;`+1`</sub> | `gardenlinux`<br/><sub>`v27.0.0`</sub> | `m5.xlarge`<br/><sub>`50Gi`&nbsp;`gp2`</sub> | `eu-west-1a`<br/>&nbsp; |

[2020-06-30 15:33] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-06-30 15:35] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-06-30 15:37] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-06-30 15:45] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary

[2020-06-30 15:48] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary

[2020-06-30 16:03] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary

[2020-06-30 17:30] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary

[2020-06-30 18:32] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/bnerd/
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-it/shoots/tmt99-o1a/
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden/shoots/aws/

[2020-07-01 07:29] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-it/shoots/tmt99-o1a/

[2020-07-01 10:29] vlerenc commented on #55
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-it/shoots/tmt99-o1a/

[2020-07-01 10:29] vlerenc commented on #55
**Shoot:** [vlerenc/kyma-kary](https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/kyma-kary) `v1.16.10` created at `2020-06-30 06:43` by `TI Kubernetes SE` on `aws` in `eu-west-1`
**Seed:** [garden/aws](https://dashboard.dev.gardener.cloud.sap/namespace/garden/shoots/aws)

**Last Operation:**
[code]

**Shoot Conditions:**
:green_heart: APIServerAvailable (HealthzRequestSuccee

[2020-07-03 11:41] vlerenc opened #56 "sfd"
## Which cluster is affected?

https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/kyma-kary

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

[2020-07-03 12:56] vlerenc opened #57 "fdsgf"
## Which cluster is affected?

https://dashboard.dev.gardener.cloud.sap/namespace/garden-vlerenc/shoots/kyma-kary

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/xs
/assign @v

[2020-07-03 13:08] vlerenc commented on #57
/lgtm
/xl

[2020-07-06 08:58] vlerenc opened #58 "dfgdsf"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2020-07-06 08:59] vlerenc commented on #58
/bark @vlerenc @gardener-botmanager

[2020-07-06 09:00] vlerenc commented on #58
/cancel blocker

[2020-07-06 09:03] vlerenc commented on #58
/carbon-copy

[2020-07-06 09:23] #56 closed

[2020-07-06 09:23] #57 closed

[2020-07-06 09:23] #58 closed

[2020-07-06 12:16] vlerenc opened #59 "Test Issue"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-07-06 12:19] vlerenc commented on #59
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-07-09 04:31] vlerenc commented on #59
/xs

[2020-07-09 05:55] vlerenc commented on #59
/xl
/diag

[2020-07-09 05:59] vlerenc commented on #59
/xl

[2020-07-09 15:35] vlerenc commented on #59
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-vlerenc/shoots/kyma-kary/

[2020-07-10 09:20] vlerenc commented on #59
/diag https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-vlerenc/shoots/cc

[2020-07-16 18:08] vlerenc commented on #59
/xs
/diag https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-vlerenc/shoots/cc

[2020-07-27 04:22] vlerenc opened #60 "Landscape Issue"

[2020-07-27 04:27] vlerenc commented on #60
/cancel blocker

[2020-07-27 04:40] vlerenc commented on #60
/critical

[2020-07-27 04:41] vlerenc commented on #60
/normal

[2020-07-27 04:41] vlerenc commented on #60
/critical

[2020-07-27 04:42] vlerenc commented on #60
/normal

[2020-07-27 04:42] vlerenc commented on #60
/critical

[2020-07-27 04:49] vlerenc commented on #60
/critical

[2020-07-27 04:50] vlerenc commented on #60
/blocker

[2020-07-27 04:51] vlerenc commented on #60
/critical

[2020-10-15 18:29] vlerenc commented on #60
/remove carbon-copy

[2020-10-15 18:29] vlerenc commented on #60
/carbon-copy

[2020-11-16 13:08] vlerenc commented on #60
/diag

[2020-11-16 13:08] vlerenc commented on #60
/diag

[2020-11-16 13:11] vlerenc commented on #60
/diag

[2020-11-16 13:14] vlerenc commented on #60
/diag

[2020-11-16 13:30] vlerenc commented on #60
/diag

[2020-11-16 13:31] vlerenc commented on #60
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/ts-test

[2020-11-16 13:37] vlerenc opened #61 "Issue"

[2020-11-16 13:38] #61 closed

[2020-11-16 13:38] vlerenc opened #62 "Landscape Issue"

[2020-12-25 06:06] vlerenc commented on #59
/diag https://dashboard.garden.staging.k8s.ondemand.com/namespace/garden-core/shoots/fdhu67v0mc/

[2020-12-25 06:06] vlerenc commented on #59
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/cli-aws/

[2020-12-25 06:32] vlerenc commented on #59
/diag https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/cli-aws

[2020-12-26 04:53] vlerenc commented on #60
/author-action

[2020-12-27 14:34] vlerenc commented on #59
/owner-action

[2020-12-27 14:41] vlerenc commented on #59
/owner-action

[2020-12-27 14:45] vlerenc commented on #59
/owner-action

[2020-12-27 15:53] vlerenc commented on #59
/owner-action

[2020-12-28 08:15] vlerenc opened #63 "Test Ticket"

[2020-12-28 08:16] vlerenc commented on #63
@rfranzke Oops, please ignore.

[2020-12-28 08:16] vlerenc commented on #63
/duplicate #62

[2021-02-15 13:44] vlerenc commented on #63
/owner-action

[2021-02-24 05:11] #62 closed

[2021-02-24 05:11] #63 closed

[2021-04-15 00:25] neo-liang-sap opened #64 "[sretestneo/sre-g-test]"
## Which cluster is affected?

`Link`: [sretestneo/sre-g-test](https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-sretestneo/shoots/sre-g-test)

## What happened?

## What you expected to happen?

## When did it happen or started to happen?
`Timestamp`: 2021-04-14T21:03:01Z

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categoris

[2021-05-03 23:37] neo-liang-sap commented on #64
/owner-action

[2021-05-03 23:42] neo-liang-sap commented on #64
/owner-action

[2021-05-03 23:44] neo-liang-sap commented on #64
/author-action

[2021-05-04 08:11] neo-liang-sap commented on #64
/author-action

[2021-05-04 08:21] neo-liang-sap opened #65 "[devx-eldor/upgrade]"
## Which cluster is affected?

`Link`: [devx-eldor/upgrade](https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-devx-eldor/shoots/upgrade)

## What happened?

You have selevted a feature gate for the api server (CustomResourceWebhookConversion) that is  not valid anymore
for version 1.18.

The docu says:

[code]

## What you expected to happen?

## When did it happen or started to ha

[2021-05-04 08:22] #65 closed

[2021-05-04 08:22] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:23] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:37] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:39] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:41] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:42] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:51] neo-liang-sap commented on #64
/owner-action

[2021-05-04 08:53] neo-liang-sap commented on #64
/owner-action

[2021-05-04 09:15] neo-liang-sap commented on #64
/owner-action

[2021-05-04 09:17] neo-liang-sap commented on #64
/author-action

[2021-05-04 09:18] neo-liang-sap commented on #64
/owner-action

[2021-05-04 09:19] neo-liang-sap commented on #64
/author-action

[2021-05-04 09:22] neo-liang-sap commented on #64
/author-action

[2021-05-04 09:23] neo-liang-sap commented on #64
/owner-action

[2021-05-04 09:24] neo-liang-sap commented on #64
/author-action

[2021-05-04 09:25] neo-liang-sap commented on #64
/assign neo-liang-sap

[2021-05-04 09:30] neo-liang-sap commented on #64
/owner-action

[2021-05-10 00:52] neo-liang-sap opened #66 "quota change test issue"
## What is the name of the affected project?
`Project`: https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-di-master/

## What quota needs to be adjusted? Omit new target value for auto-approval/increase by our bot!

`Quota`: shoot

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/priority normal

[2021-05-18 11:36] neo-liang-sap opened #67 "Disable core addon restarter"
**What this PR does / why we need it**:
Disable core addon restarter due to downtimes in the hana clusters, [ref](https://github.tools.sap/kubernetes-live/issues-live/issues/492).

/kind config-change
/priority critical

cc @d068290

**Which issue(s) this PR fixes**:
Fixes #

**Special notes for your reviewer**:

**Release note**:

[code]
**If this is a hotfix PR, please make sure to follow the [E

[2021-05-18 11:38] #67 closed

[2021-05-18 11:41] neo-liang-sap opened #68 "testing issue - please ignore"
**What this PR does / why we need it**:
Disable core addon restarter due to downtimes in the hana clusters, [ref](https://github.tools.sap/kubernetes-live/issues-live/issues/492).

/kind config-change
/priority critical

cc @d068290

**Which issue(s) this PR fixes**:
Fixes #

**Special notes for your reviewer**:

**Release note**:

[code]
**If this is a hotfix PR, please make sure to follow the [E

[2021-05-18 11:41] #68 closed

[2021-05-23 10:27] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 10:48] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:13] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:15] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:18] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:22] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:25] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:29] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 11:37] ghost commented on #66
@neo-liang-sap Less than 7 days!!!.

[2021-05-23 22:43] ghost commented on #66
@neo-liang-sap You requested quota again within one week, which is not allowed. Please apply later, thanks.

[2021-06-09 01:22] neo-liang-sap opened #82 "aaa"
/priority normal

[2021-06-09 01:22] ghost commented on #82
@neo-liang-sap Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2021-06-09 01:22] ghost commented on #82
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2021-06-09 01:22] ghost commented on #82
@gardener-robot You have mentioned internal references in the public. Please check.

[2021-06-24 12:34] vlerenc commented on #59
Tasks:
- [ ] Test 1
  - [ ] Test 2

[2021-06-24 12:34] vlerenc opened #94 "dgdfsgdsfdgfTest 2"

[2021-06-24 12:41] #94 closed, assigned to nobody

[2021-09-01 04:12] neo-liang-sap opened #95 "test issue - please ignore!!!!!"
## Which cluster is affected?

`Link`: [sretestneo/sre-g-test](https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-sretestneo/shoots/sre-g-test)

## What happened?

## What you expected to happen?

## When did it happen or started to happen?
`Timestamp`: 2021-04-14T21:03:01Z

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categoris

[2021-09-01 04:12] ghost commented on #95
@neo-liang-sap

**Shoot:** [sretestneo/sre-g-test](https://dashboard.dev.gardener.cloud.sap/namespace/garden-sretestneo/shoots/sre-g-test) `v1.21.3`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created at `2021-04-14 01:04` by `Neo Liang (BTP Core FP TS SRE&Observability (CHN))`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on `aws` in `eu-west-

[2021-09-01 04:12] ghost commented on #95
@gardener-robot You have mentioned internal references in the public. Please check.

[2021-09-01 04:13] ghost commented on #95
@abdasgupta, @ashwani2k ℹ️ Please take note of this issue.

[2021-09-01 04:18] neo-liang-sap commented on #95
close as testing done

[2021-09-01 06:34] neo-liang-sap opened #96 "testing issue - please ignore!!!!"
## Which cluster is affected?

`Link`: [sretestneo/sre-g-test](https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-sretestneo/shoots/sre-g-test)

## What happened?

## What you expected to happen?

## When did it happen or started to happen?
`Timestamp`: 2021-04-14T21:03:01Z

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categoris

[2021-09-01 06:34] ghost commented on #96
@neo-liang-sap

**Shoot:** [sretestneo/sre-g-test](https://dashboard.dev.gardener.cloud.sap/namespace/garden-sretestneo/shoots/sre-g-test) `v1.21.3`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created at `2021-04-14 01:04` by `Neo Liang (BTP Core FP TS SRE&Observability (CHN))`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on `aws` in `eu-west-

[2021-09-01 06:34] ghost commented on #96
@gardener-robot You have mentioned internal references in the public. Please check.

[2021-09-01 06:35] ghost commented on #96
@wyb1 ℹ️ Please take note of this issue.

[2021-09-01 06:36] neo-liang-sap commented on #96
close as testing done

[2021-09-02 01:12] #96 closed, assigned to nobody

[2021-09-24 14:08] neo-liang-sap commented on #59
doing some test
/author-action

[2021-09-24 14:11] neo-liang-sap commented on #82
readiness/liveness

[2021-09-24 18:00] ghost commented on #64
Ticket was in state `author-`/`owner-action` with no further response since 21 days and the cluster is `healthy`. Closing.

[2021-09-24 18:00] #64 closed

[2021-10-28 08:01] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-10-28 09:16] ghost commented on #66
@neo-liang-sap You requested quota again within one week, which is not allowed. Please apply later, thanks.

[2021-10-28 09:24] ghost commented on #66
@neo-liang-sap You requested quota again within one week, which is not allowed. Please apply later, thanks.

[2021-10-28 09:26] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-01 05:48] ghost commented on #66
@neo-liang-sap You requested quota again within one week, which is not allowed. Please apply later, thanks.

[2021-11-02 05:43] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 05:44] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 05:47] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 05:51] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 06:11] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 06:13] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 06:19] ghost commented on #66
@neo-liang-sap The project you entered could not be parsed.

[2021-11-02 06:25] ghost commented on #66
@neo-liang-sap You requested quota again within one week, which is not allowed. Please apply later, thanks.

[2021-11-03 05:30] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 05:42] neo-liang-sap commented on #95
aaa

[2021-11-03 05:43] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 05:48] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 05:57] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 06:00] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 06:04] neo-liang-sap commented on #95
aaaaa

[2021-11-03 07:21] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 07:28] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-03 07:30] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-04 05:47] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-04 05:48] ghost commented on #95
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2021-11-29 22:08] ghost commented on #95
Ticket was in state `author-`/`owner-action` with no further response since 21 days and the cluster is `healthy`. Closing.

[2021-11-29 22:08] #95 closed, assigned to nobody

[2021-11-29 22:22] neo-liang-sap commented on #66
/status author-action

[2021-11-29 22:25] ghost commented on #66
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2021-11-29 23:17] neo-liang-sap commented on #66
/assign

[2021-11-29 23:19] neo-liang-sap commented on #66
/unassign

[2021-11-30 06:14] neo-liang-sap commented on #66
/status owner-action

[2021-11-30 06:14] ghost commented on #66
@gardener-robot Oops, the issue description doesn't contain a valid shoot cluster dashboard link.

[2021-12-01 00:55] neo-liang-sap commented on #66
/ping

[2021-12-01 00:56] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x513">
<details>
<summary>Message</summary>

</details>

[2021-12-01 00:58] neo-liang-sap commented on #66
/ping

[2021-12-01 00:58] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x360">
<details>
<summary>Message</summary>

</details>

[2021-12-01 00:59] neo-liang-sap commented on #66
/ping

[2021-12-01 00:59] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x509">
<details>
<summary>Message</summary>

</details>

[2021-12-01 01:01] neo-liang-sap commented on #66
/ping

[2021-12-01 01:01] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x472">
<details>
<summary>Message</summary>

</details>

[2021-12-01 01:04] neo-liang-sap commented on #66
/ping

[2021-12-01 01:04] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x522">
<details>
<summary>Message</summary>

</details>

[2021-12-01 01:10] neo-liang-sap commented on #66
/ping

[2021-12-01 01:10] ghost commented on #66
<img src="https://source.unsplash.com/collection/4538752/640x610">
<details>
<summary>Message</summary>

</details>

[2021-12-15 02:00] neo-liang-sap commented on #82
/ping

[2021-12-15 02:00] ghost commented on #82
<img src="https://source.unsplash.com/collection/4538752/640x455">
<details>
<summary>Message</summary>

</details>

[2021-12-15 05:36] neo-liang-sap commented on #82
/ping

[2021-12-15 05:37] ghost commented on #82
<img src="https://source.unsplash.com/collection/4538752/640x341">
<details>
<summary>Message</summary>

</details>

[2021-12-20 05:15] neo-liang-sap commented on #82
/priority critical (as otherwise c5 sizes will grow/shrink and no longer match the max defined here).

[2021-12-20 05:15] ghost commented on #82
@neo-liang-sap No more than 5 labels permitted, but 15 labels were given.

[2021-12-22 00:21] ghost commented on #66
Ticket was in state `author-`/`owner-action` with no further response since 21 days. Closing.

[2021-12-22 23:43] neo-liang-sap commented on #82
aaa

[2021-12-23 10:06] vlerenc commented on #60
/diag

[2022-01-05 00:14] neo-liang-sap commented on #82
/ping

[2022-01-05 00:14] ghost commented on #82
<img src="https://source.unsplash.com/collection/4538752/640x385">
<details>
<summary>Message</summary>

</details>

[2022-01-05 00:54] neo-liang-sap commented on #82
/ping

[2022-01-05 00:54] ghost commented on #82
<img src="https://source.unsplash.com/collection/4538752/640x409">
<details>
<summary>Message</summary>

</details>

[2022-01-06 00:08] ghost commented on #66
Quota increase was auto-approved. Closing ticket now.

[2022-01-10 06:02] neo-liang-sap opened #108 "aaaa"
## Which cluster is affected?

`Cluster Details Dashboard Link`: https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-core/shoots/sre-test-gcp/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this i

[2022-01-10 06:02] ghost commented on #108
@neo-liang-sap No more than 5 labels permitted, but 21 labels were given.

[2022-01-10 06:02] ghost commented on #108
@neo-liang-sap Oops, the dashboard link that you have provided (domain garden.canary.k8s.ondemand.com) does not match this repository (domains dev.gardener.cloud.sap, garden.dev.k8s.ondemand.com). Please open the issue at the correct repository. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-01-10 06:02] #108 closed, assigned to neo-liang-sap

[2022-01-10 06:02] ghost commented on #108
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-01-10 06:04] neo-liang-sap opened #109 "adad"
## Which cluster is affected?

`Cluster Details Dashboard Link`: https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-sretestneo/shoots/sre-g-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2022-01-10 06:04] ghost commented on #109
@neo-liang-sap No more than 5 labels permitted, but 21 labels were given.

[2022-01-10 06:04] ghost commented on #109
@neo-liang-sap

**Shoot:** [sretestneo/sre-gcp-run](https://dashboard.dev.gardener.cloud.sap/namespace/garden-sretestneo/shoots/sre-gcp-run) `v1.21.6`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created at `2021-08-30 14:24` by `Juste Guipi (BTP Core FP TS SRE (CA))`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on `gcp` in `europe-west1` with

[2022-01-10 06:05] ghost commented on #109
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-01-10 06:05] neo-liang-sap commented on #109
/status owner-action

[2022-01-10 06:06] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-01-10 06:08] neo-liang-sap commented on #109
/status owner-action

[2022-01-10 06:09] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-01-10 06:18] neo-liang-sap commented on #109
/status owner-action

[2022-01-10 06:18] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-01-11 01:22] neo-liang-sap commented on #109
/status owner-action

[2022-01-11 01:23] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-01-11 01:36] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-01-11 06:10] neo-liang-sap commented on #109
/status owner-action

[2022-01-11 06:14] neo-liang-sap commented on #109
/status owner-action

[2022-01-11 06:22] neo-liang-sap commented on #109
/status owner-action

[2022-01-11 06:33] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose admin is not a user in this GitHub.

[2022-01-11 06:40] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose admin is not a user in this GitHub.

[2022-01-11 06:43] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose admin is not a user in this GitHub.

[2022-01-11 06:46] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose admin is not a user in this GitHub.

[2022-01-12 06:25] neo-liang-sap commented on #109
/status owner-action

[2022-01-12 06:26] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose admin is not a user in this GitHub.

[2022-02-09 01:09] neo-liang-sap commented on #82
/priority critical

[2022-02-09 01:20] neo-liang-sap commented on #82
/priority normal

[2022-02-09 01:22] neo-liang-sap commented on #82
/priority normal

[2022-02-09 01:25] neo-liang-sap commented on #82
/priority normal

[2022-02-09 01:26] ghost commented on #82
@neo-liang-sap opened in weekends

[2022-02-09 01:44] neo-liang-sap commented on #82
/priority normal

[2022-02-09 01:45] ghost commented on #82
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-02-09 01:47] ghost commented on #82
@neo-liang-sap Please note you opened landscape issue in weekends, kindly refer to https://wiki.wdf.sap.corp/wiki/display/Kubernetes/Gardener+Support and https://wiki.wdf.sap.corp/wiki/display/Kubernetes/DevOps+24x7 for more details how Gardener DOD operates in weekends

[2022-02-09 01:47] ghost commented on #82
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-02-17 01:52] neo-liang-sap commented on #109
/test

[2022-02-17 02:01] neo-liang-sap commented on #109
/test

[2022-02-17 02:20] neo-liang-sap commented on #109
/test

[2022-02-17 02:31] neo-liang-sap commented on #109
/test

[2022-02-17 06:29] neo-liang-sap commented on #109
/test

[2022-02-17 06:30] neo-liang-sap commented on #109
/test

[2022-02-17 06:35] neo-liang-sap commented on #109
/test

[2022-02-17 06:41] neo-liang-sap commented on #109
/test

[2022-02-17 06:43] neo-liang-sap commented on #109
/test

[2022-02-17 06:45] neo-liang-sap commented on #109
/test

[2022-02-17 06:46] neo-liang-sap commented on #109
/test

[2022-02-17 06:47] neo-liang-sap commented on #109
/test

[2022-02-17 06:48] neo-liang-sap commented on #109
/test

[2022-02-18 06:39] neo-liang-sap commented on #109
/test

[2022-03-01 00:20] ghost commented on #109
@neo-liang-sap ℹ️ Please take note of this issue.

[2022-03-01 00:36] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 00:39] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 01:12] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 01:18] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 01:26] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 01:36] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-03-01 11:36] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-03-01 11:44] ghost commented on #109
@neo-liang-sap No more than 5 labels permitted, but 21 labels were given.

[2022-03-01 11:45] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner is not a user in this GitHub.

[2022-03-17 06:43] ghost commented on #109
@neo-liang-sap Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner/admins are not users in this GitHub.

[2022-03-19 18:38] ghost commented on #109
@neo-liang-sap You opened a priority issue on the weekend. Please read https://wiki.wdf.sap.corp/wiki/display/Kubernetes/Gardener+Support and https://wiki.wdf.sap.corp/wiki/display/Kubernetes/DevOps+24x7 carefully for more information on how Gardener is operated on a weekend.

[2022-03-19 18:38] ghost commented on #109
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-03-20 00:56] neo-liang-sap opened #110 "test issue"
## Which cluster is affected?

`Cluster Details Dashboard Link`: https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-sretestneo/shoots/sre-g-test/

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this

[2022-03-20 00:56] ghost commented on #110
@neo-liang-sap No more than 5 labels permitted, but 21 labels were given.

[2022-03-20 00:56] ghost commented on #110
@neo-liang-sap

**Shoot:** [sretestneo/sre-g-test](https://dashboard.dev.gardener.cloud.sap/namespace/garden-sretestneo/shoots/sre-g-test) `v1.21.9`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created at `2021-04-14 01:04` by `Neo Liang (BTP Core FP TS SRE (CHN))`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on `aws` in `eu-west-1` with purpos

[2022-03-20 00:56] ghost commented on #110
@neo-liang-sap You opened a priority issue on the weekend. Please read https://wiki.wdf.sap.corp/wiki/display/Kubernetes/Gardener+Support and https://wiki.wdf.sap.corp/wiki/display/Kubernetes/DevOps+24x7 carefully for more information on how Gardener is operated on a weekend.

[2022-03-20 00:56] ghost commented on #110
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-03-20 00:56] ghost commented on #110
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-03-20 00:57] ghost commented on #110
@neo-liang-sap ℹ️ Please take note of this issue.

[2022-03-22 01:24] neo-liang-sap commented on #109
aaaa

[2022-04-13 01:03] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-04-13 01:05] ghost commented on #109
@neo-liang-sap  has acknowledged the VictorOps alert and looking into this issue

[2022-05-04 02:35] neo-liang-sap commented on #109
aaaaaa

[2022-05-04 02:42] neo-liang-sap commented on #109
aaaaaaaaa

[2022-05-04 02:51] neo-liang-sap commented on #109
ccccccc

[2022-05-04 03:22] neo-liang-sap commented on #109
/status owner-action

[2022-05-04 03:22] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner/admins are not users in this GitHub.

[2022-05-04 03:24] neo-liang-sap commented on #109
/status owner-action

[2022-05-04 03:24] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner/admins are not users in this GitHub.

[2022-05-04 03:38] neo-liang-sap commented on #109
/status owner-action

[2022-05-04 03:38] ghost commented on #109
@neo-liang-sap, @liangrong1984 The issue was assigned to you under `owner-action`. Please unassign yourself when you are done. Thank you.

[2022-05-04 07:07] neo-liang-sap commented on #109
/status owner-action

[2022-05-04 07:07] ghost commented on #109
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner/admins are not users in this GitHub.

[2022-05-04 07:09] neo-liang-sap commented on #109
/status owner-action

[2022-05-04 07:09] ghost commented on #109
@neo-liang-sap, @liangrong1984 The issue was assigned to you under `owner-action`. Please unassign yourself when you are done. Thank you.

[2022-07-18 06:01] neo-liang-sap commented on #109
/title aaaaa

[2022-07-18 06:04] neo-liang-sap commented on #109
/title bbbbb

[2022-07-18 06:06] neo-liang-sap commented on #109
aaaaa

[2022-07-18 06:06] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:06] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:09] neo-liang-sap commented on #109
/title ccc

[2022-07-18 06:09] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:16] neo-liang-sap commented on #109
/title ccccv

[2022-07-18 06:16] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:46] neo-liang-sap commented on #109
/title xxx

[2022-07-18 06:46] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:55] neo-liang-sap commented on #109
/title sss

[2022-07-18 06:55] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:55] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:57] neo-liang-sap commented on #109
/title ssss1

[2022-07-18 06:57] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 06:57] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 07:04] neo-liang-sap commented on #109
/title adadad

[2022-07-18 07:04] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-18 07:04] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:09] neo-liang-sap commented on #109
/title xxx

[2022-07-20 05:10] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:10] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:11] neo-liang-sap commented on #109
/title aaa

[2022-07-20 05:11] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:11] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:13] neo-liang-sap commented on #109
/title sss

[2022-07-20 05:13] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:13] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:14] neo-liang-sap commented on #109
/title aa

[2022-07-20 05:14] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:14] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:16] ghost commented on #109
@neo-liang-sap Label priority/criticalritical does not exist.

[2022-07-20 05:16] neo-liang-sap commented on #109
/title a

[2022-07-20 05:16] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:17] neo-liang-sap commented on #109
/priority normal

[2022-07-20 05:18] neo-liang-sap commented on #109
/title adad

[2022-07-20 05:18] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-20 05:18] ghost commented on #109
@gardener-robot Command `/add` is not available to you but only to a Maintainer, Member, Author.

[2022-07-28 08:04] ghost commented on #109
@neo-liang-sap Command `/dev/sdf` is not known.

[2022-07-28 08:07] ghost commented on #109
@neo-liang-sap Command `/dev/sdf` is not known.

[2022-07-29 00:32] ghost commented on #109
@neo-liang-sap Label /platform/azure does not exist.

[2022-10-31 21:08] etiennnr opened #111 "test 6"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2022-10-31 21:08] ghost commented on #111
@etiennnr No more than 5 labels permitted, but 21 labels were given.

[2022-10-31 21:13] #111 closed, assigned to nobody

[2022-10-31 21:13] etiennnr opened #112 "test 7"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/priority normal

[2022-10-31 21:13] #112 closed, assigned to etiennnr

[2022-10-31 21:13] ghost commented on #112
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-10-31 21:14] ghost commented on #112
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-10-31 21:14] ghost commented on #112
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-10-31 21:14] etiennnr opened #113 "test 8"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/priority normal

[2022-10-31 21:14] ghost commented on #113
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-10-31 21:14] ghost commented on #113
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-10-31 21:14] ghost commented on #113
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-10-31 21:16] #113 closed, assigned to etiennnr

[2022-10-31 21:16] etiennnr opened #114 "test 9"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2022-10-31 21:16] ghost commented on #114
@etiennnr No more than 5 labels permitted, but 21 labels were given.

[2022-10-31 21:16] ghost commented on #114
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-10-31 21:17] ghost commented on #114
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-10-31 21:17] ghost commented on #114
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-10-31 21:18] #114 closed, assigned to etiennnr

[2022-10-31 21:19] etiennnr opened #115 "test 10"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/priority normal

[2022-10-31 21:19] ghost commented on #115
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-10-31 21:19] ghost commented on #115
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-10-31 21:19] ghost commented on #115
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-10-31 21:20] #115 closed, assigned to etiennnr

[2022-10-31 21:21] etiennnr opened #116 "test 11"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/priority normal

[2022-10-31 21:21] ghost commented on #116
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-10-31 21:21] ghost commented on #116
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-10-31 21:21] ghost commented on #116
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-10-31 21:22] #116 closed, assigned to etiennnr

[2022-10-31 21:22] etiennnr opened #117 "test 12"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:22] #117 closed, assigned to nobody

[2022-10-31 21:23] etiennnr opened #118 "test 13"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:23] #118 closed, assigned to nobody

[2022-10-31 21:26] etiennnr opened #119 "test 14"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:26] #119 closed, assigned to nobody

[2022-10-31 21:27] etiennnr opened #120 "test 15"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:28] #120 closed, assigned to nobody

[2022-10-31 21:30] etiennnr opened #121 "test 16"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:30] #121 closed, assigned to nobody

[2022-10-31 21:32] etiennnr opened #122 "test 17"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:32] #122 closed, assigned to nobody

[2022-10-31 21:33] etiennnr opened #123 "test 18"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:33] #123 closed, assigned to nobody

[2022-10-31 21:34] etiennnr opened #124 "test 19"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:34] #124 closed, assigned to nobody

[2022-10-31 21:37] etiennnr opened #125 "test 20"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-10-31 21:37] #125 closed, assigned to nobody

[2022-11-01 14:50] etiennnr opened #126 "test 21"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

[2022-11-01 14:50] ghost commented on #126
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-11-01 14:50] ghost commented on #126
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-01 14:50] ghost commented on #126
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-11-01 14:52] #126 closed, assigned to etiennnr

[2022-11-01 15:09] etiennnr opened #127 "test 22"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 15:09] #127 closed, assigned to nobody

[2022-11-01 15:28] etiennnr opened #128 "Test 23"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 15:28] #128 closed, assigned to nobody

[2022-11-01 15:29] etiennnr opened #129 "test 24"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 15:29] etiennnr commented on #129
/status accepted

[2022-11-01 15:31] etiennnr commented on #129
/status new

[2022-11-01 15:33] etiennnr commented on #129
/status accepted

[2022-11-01 15:35] etiennnr commented on #129
/status new

[2022-11-01 15:37] etiennnr commented on #129
/status accepted

[2022-11-01 15:39] etiennnr commented on #129
/status new

[2022-11-01 15:40] etiennnr commented on #129
/status accepted

[2022-11-01 15:42] etiennnr commented on #129
/status new

[2022-11-01 15:47] etiennnr commented on #129
/status accepted

[2022-11-01 15:48] etiennnr commented on #129
/status new

[2022-11-01 15:48] etiennnr commented on #129
/status accepted

[2022-11-01 16:33] etiennnr commented on #129
/status new

[2022-11-01 16:35] etiennnr commented on #129
/status accepted

[2022-11-01 16:37] etiennnr commented on #129
/status new

[2022-11-01 16:40] etiennnr commented on #129
/status accepted

[2022-11-01 16:43] etiennnr commented on #129
/status new

[2022-11-01 16:44] etiennnr commented on #129
/status accepted

[2022-11-01 16:50] etiennnr commented on #129
/status new

[2022-11-01 16:53] etiennnr commented on #129
/status accepted

[2022-11-01 17:03] etiennnr commented on #129
/status new

[2022-11-01 17:05] etiennnr commented on #129
/status accepted

[2022-11-01 17:07] etiennnr commented on #129
/status new

[2022-11-01 17:44] #129 closed, assigned to nobody

[2022-11-01 17:47] etiennnr opened #130 "test IDKW"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 17:57] #130 closed, assigned to nobody

[2022-11-01 17:58] etiennnr opened #131 "test 26"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 17:58] ghost commented on #131
@etiennnr ℹ️ Please take note of this issue.

[2022-11-01 17:59] #131 closed, assigned to nobody

[2022-11-01 17:59] etiennnr opened #132 "test 27"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 17:59] etiennnr commented on #132
On it

[2022-11-01 18:03] #132 closed, assigned to nobody

[2022-11-01 18:04] etiennnr opened #133 "test 28"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-01 18:04] etiennnr commented on #133
on it

[2022-11-01 18:53] #133 closed, assigned to nobody

[2022-11-03 18:39] ghost commented on #66
Ticket was in state `author-`/`owner-action` with no further response since 21 days. Closing.

[2022-11-03 18:39] #66 closed

[2022-11-03 18:39] ghost commented on #59
This ticket has not been touched since 21 days. Please add a follow up comment and/or change the `status` label

[2022-11-03 19:15] etiennnr opened #134 "test 30"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 19:15] etiennnr commented on #134
This is a test comment

[2022-11-03 20:58] etiennnr opened #135 "test 31"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 20:59] etiennnr commented on #135
/close

[2022-11-03 20:59] #135 closed, assigned to nobody

[2022-11-03 21:00] etiennnr opened #136 "test 32"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:00] #136 closed, assigned to nobody

[2022-11-03 21:00] etiennnr opened #137 "test 33"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:01] #137 closed, assigned to nobody

[2022-11-03 21:07] etiennnr opened #138 "test 33"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:07] #138 closed, assigned to nobody

[2022-11-03 21:08] etiennnr opened #139 "test again"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:08] #139 closed, assigned to nobody

[2022-11-03 21:14] #134 closed, assigned to nobody

[2022-11-03 21:15] etiennnr opened #140 "test 34"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:15] etiennnr opened #141 "test 35"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:16] etiennnr commented on #140
/close

[2022-11-03 21:16] #140 closed, assigned to nobody

[2022-11-03 21:24] etiennnr opened #142 "test 38"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:25] etiennnr commented on #141
/close

[2022-11-03 21:25] #141 closed, assigned to nobody

[2022-11-03 21:27] etiennnr opened #143 "test 39"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:27] etiennnr commented on #142
/close

[2022-11-03 21:27] #142 closed, assigned to nobody

[2022-11-03 21:28] etiennnr commented on #143
/close

[2022-11-03 21:28] #143 closed, assigned to nobody

[2022-11-03 21:31] etiennnr opened #144 "test 40"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:31] etiennnr commented on #144
/close

[2022-11-03 21:31] #144 closed, assigned to nobody

[2022-11-03 21:41] etiennnr opened #145 "test 39"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:41] etiennnr opened #146 "test 40"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:43] etiennnr opened #147 "test 41"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:45] etiennnr commented on #147
/close

[2022-11-03 21:45] #147 closed, assigned to nobody

[2022-11-03 21:45] etiennnr opened #148 "test 42"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:46] etiennnr commented on #148
/close

[2022-11-03 21:46] #148 closed, assigned to nobody

[2022-11-03 21:46] etiennnr opened #149 "test 43"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:46] etiennnr opened #150 "test 44"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:46] #150 closed, assigned to nobody

[2022-11-03 21:48] #146 closed, assigned to nobody

[2022-11-03 21:48] #149 closed, assigned to nobody

[2022-11-03 21:50] etiennnr opened #151 "test 45"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:51] #151 closed, assigned to nobody

[2022-11-03 21:51] etiennnr opened #152 "test 46"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:51] etiennnr commented on #152
/status accepted

[2022-11-03 21:54] etiennnr commented on #152
/close

[2022-11-03 21:54] #152 closed, assigned to nobody

[2022-11-03 21:55] etiennnr opened #153 "test 50"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 21:56] etiennnr commented on #153
/close

[2022-11-03 21:56] #153 closed, assigned to nobody

[2022-11-03 21:57] etiennnr opened #154 "test 51"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 22:02] #154 closed, assigned to nobody

[2022-11-03 22:02] etiennnr opened #155 "test 52"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-03 22:02] etiennnr commented on #155
allo

[2022-11-03 22:03] etiennnr commented on #155
/close

[2022-11-04 14:34] #155 closed, assigned to nobody

[2022-11-04 14:36] etiennnr opened #156 "test 52"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-04 14:37] etiennnr commented on #156
/close

[2022-11-04 14:37] #156 closed, assigned to nobody

[2022-11-04 14:38] etiennnr opened #157 "test 53"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-04 14:39] etiennnr commented on #157
/status accepted

[2022-11-04 14:42] etiennnr commented on #157
/status new

[2022-11-04 14:43] etiennnr commented on #157
/status accepted

[2022-11-04 14:44] etiennnr commented on #157
/status new

[2022-11-04 14:47] etiennnr commented on #157
/close

[2022-11-04 14:47] #157 closed, assigned to nobody

[2022-11-04 15:21] etiennnr commented on #145
/status in-progress

[2022-11-04 15:24] ghost commented on #145
@etiennnr This ticket has not been touched since 3 days. Please add a follow up comment and/or change the `status/` label.

[2022-11-04 15:24] etiennnr commented on #145
/status under-investigation

[2022-11-04 15:25] ghost commented on #145
This issue has more that 1 status label. Please correct the situation.

[2022-11-04 15:33] etiennnr commented on #145
/author-action

[2022-11-04 15:34] ghost commented on #145
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-04 16:03] etiennnr commented on #145
/status external-action

[2022-11-04 16:05] etiennnr commented on #145
/status external-action

[2022-11-04 16:07] etiennnr commented on #145
/close

[2022-11-04 16:07] #145 closed, assigned to etiennnr

[2022-11-04 16:18] etiennnr opened #158 "test 53"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-04 16:25] etiennnr commented on #158
/status accepted

[2022-11-04 16:26] etiennnr commented on #158
/status in-progress

[2022-11-04 16:27] etiennnr commented on #158
/status under-investigation

[2022-11-04 16:52] etiennnr commented on #158
/status new

[2022-11-04 16:53] etiennnr commented on #158
/status accepted

[2022-11-04 16:53] etiennnr commented on #158
/status in-progress

[2022-11-04 16:53] etiennnr commented on #158
/status under-investigation

[2022-11-04 16:54] etiennnr commented on #158
/author-action

[2022-11-04 16:54] ghost commented on #158
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-04 16:55] ghost commented on #158
@e, @t, @i, @e, @n, @n, @n, @r This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 16:58] ghost commented on #158
@etiennnr This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 16:58] etiennnr commented on #158
/external-action

[2022-11-04 17:04] etiennnr commented on #158
/author-action

[2022-11-04 17:05] ghost commented on #158
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-04 17:07] etiennnr commented on #158
/author-action

[2022-11-04 17:08] etiennnr commented on #158
/external-action

[2022-11-04 17:08] etiennnr commented on #158
/author-action

[2022-11-04 17:08] ghost commented on #158
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-04 17:09] etiennnr commented on #158
/close

[2022-11-04 17:09] #158 closed, assigned to etiennnr

[2022-11-04 17:10] etiennnr opened #159 "test 54"
https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-core/shoots/i558087-test/

Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://

[2022-11-04 17:10] etiennnr commented on #159
/external-action

[2022-11-04 17:12] ghost commented on #159
@etiennnr This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:24] etiennnr commented on #159
/owner-action

[2022-11-04 18:25] ghost commented on #159
@gardener-robot Oops, the dashboard link that you have provided refers to a cluster (or project) whose owner/admins are not users in this GitHub.

[2022-11-04 18:25] ghost commented on #159
This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:35] ghost commented on #159
This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:40] ghost commented on #159
This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:42] ghost commented on #159
This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:44] ghost commented on #159
@e, @t, @i, @e, @n, @n, @n, @r This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 18:44] etiennnr commented on #159
/close

[2022-11-04 18:44] #159 closed, assigned to nobody

[2022-11-04 18:46] etiennnr opened #160 "test 55"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-04 18:46] etiennnr commented on #160
/owner-action

[2022-11-04 18:46] ghost commented on #160
@gardener-robot Oops, the issue description doesn't contain a valid shoot cluster dashboard link.

[2022-11-04 18:47] ghost commented on #160
@etiennnr This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 19:01] ghost commented on #160
@etiennnr This ticket has not been touched since 7 days. Please add a follow up comment.

[2022-11-04 19:01] etiennnr commented on #160
/close

[2022-11-04 19:01] #160 closed, assigned to nobody

[2022-11-04 20:49] etiennnr opened #161 "test for PR"
No dashboard link

Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
-

[2022-11-04 20:49] etiennnr commented on #161
/status accepted

[2022-11-04 20:49] etiennnr commented on #161
/status under-investigation

[2022-11-04 20:50] etiennnr commented on #161
/status in-progress

[2022-11-04 20:50] etiennnr commented on #161
/external-action

[2022-11-04 20:51] etiennnr commented on #161
/author-action

[2022-11-04 20:51] ghost commented on #161
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-04 20:51] etiennnr commented on #161
/owner-action

[2022-11-04 20:51] ghost commented on #161
@gardener-robot Oops, the issue description doesn't contain a valid shoot cluster dashboard link.

[2022-11-04 20:52] etiennnr commented on #161
/status in-delivery

[2022-11-04 20:52] etiennnr commented on #161
/status on-hold

[2022-11-04 20:53] etiennnr commented on #161
/status blocked

[2022-11-04 20:53] etiennnr commented on #161
/status overdue

[2022-11-04 20:54] etiennnr commented on #161
/status accepted

[2022-11-07 17:23] etiennnr commented on #161
/status new

[2022-11-07 17:24] etiennnr commented on #161
/status accepted

[2022-11-07 17:26] etiennnr commented on #161
/status under-investigation

[2022-11-07 17:27] etiennnr commented on #161
/status in-progress

[2022-11-07 17:27] etiennnr commented on #161
/status author-action

[2022-11-07 17:27] ghost commented on #161
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-07 17:27] etiennnr commented on #161
/status external-action

[2022-11-07 17:28] etiennnr commented on #161
/status owner-action

[2022-11-07 17:28] etiennnr commented on #161
/owner-action

[2022-11-07 17:29] etiennnr commented on #161
/author-action

[2022-11-07 17:29] ghost commented on #161
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-07 17:29] etiennnr commented on #161
/owner-action

[2022-11-07 17:31] etiennnr commented on #161
/status on-hold

[2022-11-07 17:31] etiennnr commented on #161
/status in-delivery

[2022-11-07 17:32] etiennnr commented on #161
/status accepted

[2022-11-07 17:32] etiennnr opened #162 "test for PR 2"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-07 17:35] etiennnr commented on #162
/status accepted

[2022-11-08 15:22] etiennnr commented on #161
/status under-investigation

[2022-11-08 15:23] etiennnr commented on #162
/close

[2022-11-08 15:23] #162 closed, assigned to nobody

[2022-11-08 15:24] etiennnr opened #163 "test too much"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 15:52] etiennnr commented on #163
/close

[2022-11-08 15:52] #163 closed, assigned to nobody

[2022-11-08 15:52] etiennnr opened #164 "test 60"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 16:06] etiennnr commented on #164
/close

[2022-11-08 16:07] etiennnr opened #165 "test 161"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 16:07] #164 closed, assigned to nobody

[2022-11-08 16:08] etiennnr commented on #165
/close

[2022-11-08 16:09] #165 closed, assigned to nobody

[2022-11-08 16:10] etiennnr opened #166 "test 62"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 16:12] etiennnr commented on #166
/close

[2022-11-08 16:12] #166 closed, assigned to nobody

[2022-11-08 16:12] etiennnr opened #167 "test 63"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 16:13] etiennnr commented on #167
/close

[2022-11-08 16:13] #167 closed, assigned to nobody

[2022-11-08 16:23] etiennnr opened #168 "test 64"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 16:52] etiennnr commented on #168
/close

[2022-11-08 16:52] #168 closed, assigned to nobody

[2022-11-08 16:52] etiennnr opened #169 "test 65"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-08 18:16] #169 closed, assigned to nobody

[2022-11-14 05:07] neo-liang-sap commented on #110
/author-action

[2022-11-14 05:07] ghost commented on #110
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-14 05:11] neo-liang-sap commented on #110
/author-action

[2022-11-14 05:11] ghost commented on #110
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-14 05:11] neo-liang-sap commented on #110
/author-action

[2022-11-14 05:12] ghost commented on #110
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-21 04:49] ghost commented on #110
@neo-liang-sap No more than 5 labels permitted, but 21 labels were given.

[2022-11-21 04:54] ghost commented on #110
@ishan16696  has acknowledged the VictorOps alert and looking into this issue

[2022-11-21 04:57] neo-liang-sap commented on #110
/author-action

[2022-11-21 04:57] ghost commented on #110
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-21 04:58] neo-liang-sap commented on #110
/author-action

[2022-11-21 04:59] ghost commented on #110
@neo-liang-sap The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-29 19:08] etiennnr opened #170 "test 2.1"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2022-11-29 19:08] ghost commented on #170
@etiennnr No more than 5 labels permitted, but 21 labels were given.

[2022-11-29 19:08] ghost commented on #170
@etiennnr Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-11-29 19:08] ghost commented on #170
@etiennnr The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-29 19:08] ghost commented on #170
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-11-29 19:09] etiennnr commented on #170
/close

[2022-11-29 19:09] #170 closed, assigned to etiennnr

[2022-11-29 19:15] etiennnr opened #171 "test 2.2"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-29 19:15] ghost commented on #171
ℹ️ Please take note of this issue.

[2022-11-29 19:16] #171 closed, assigned to nobody

[2022-11-29 19:17] etiennnr opened #172 "2.3"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-29 19:17] etiennnr commented on #172
/assign

[2022-11-29 19:17] #172 closed, assigned to etiennnr

[2022-11-29 19:18] etiennnr opened #173 "2.4"
Please, DO NOT ask questions or request support here.

This repo is only for general landscape or cluster issues.

You can discuss general questions on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

You can ask landspace-specific questions on Slack #sap-tech-gardener-canary:

https://sap-ti.slack.com/archives/CBV3JS9S4

Please follow the Slackiquette:
- DO NOT use @channel

[2022-11-29 19:18] etiennnr commented on #173
patate

[2022-11-29 19:20] #173 closed, assigned to nobody

[2022-11-29 19:20] etiennnr opened #174 "2.4"
## What happened?

## What you expected to happen?

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certification control-plane cost delivery disaster-recovery documentation high-availability logging metering monitoring networking os performance

[2022-11-29 19:20] ghost commented on #174
@etiennnr No more than 5 labels permitted, but 21 labels were given.

[2022-11-29 19:20] ghost commented on #174
ℹ️ Please take note of this issue.

[2022-11-29 19:21] #174 closed, assigned to nobody

[2022-11-29 19:21] jguipi opened #175 "test"
## Which cluster is affected?

`Cluster Details Dashboard Link`: URL

## What happened?

## What you expected to happen?

## When did it happen or started to happen?

`Absolute`:
`Relative`:

## How would we reproduce it (concisely and precisely)?

## Anything else we need to know?

## Help us categorise this issue for faster resolution:

/area               audit-logging auto-scaling backup certi

[2022-11-29 19:21] ghost commented on #175
@jguipi No more than 5 labels permitted, but 21 labels were given.

[2022-11-29 19:21] jguipi commented on #175
this is a test

[2022-11-29 19:21] ghost commented on #175
@jguipi Oops, the issue description does not contain a valid shoot cluster dashboard link. Please update the description with a proper link. Such a dashboard link looks like https://dashboard.dev.gardener.cloud.sap/namespace/garden-my-project/shoots/my-cluster. You can invoke the cluster self-diagnosis yourself later with `/diag` on a separate line in a comment to this issue.

[2022-11-29 19:22] ghost commented on #175
@jguipi The issue was assigned to you under `author-action`. Please unassign yourself when you are done. Thank you.

[2022-11-29 19:22] ghost commented on #175
@gardener-robot You have mentioned internal references in the public. Please check.

[2022-11-29 19:22] etiennnr commented on #175
/close

[2022-11-29 19:22] #175 closed, assigned to jguipi

[2022-11-29 19:23] jguipi opened #176 "test 2 jc"
Please, DO NOT suggest or request enhancements here.

This repo is only for general landscape or cluster issues.

You can discuss enhancement requests on Slack #sap-tech-gardener:

https://sap-cp.slack.com/archives/C9CEBQPGE

Please follow the Slackiquette:
- DO NOT use @channel (there are many hundred members and we listen anyways)
- DO use threads when you can (to avoid spamming the main channel

[2022-11-29 19:23] jguipi commented on #176
test

[2022-11-29 19:23] ghost commented on #176
ℹ️ Please take note of this issue.

[2022-11-29 19:24] etiennnr commented on #176
/close

[2022-11-29 19:24] #176 closed, assigned to nobody